In [1]:
import pandas as pd
import numpy as np
import pickle
import shap

import mlflow
import pycaret

from airbnb_prediction.mlflow_utils import UiConn
from pycaret.regression import *


pd.set_option('display.float_format', '{:.2f}'.format)

In [2]:
conn = UiConn()
conn.create_ui_session()

#conn.terminate_ui_session()

Access for UI at: http://127.0.0.1:5555

In [3]:
df = pickle.load(open('../data/processed/model_data.pickle', 'rb'))

In [4]:
categorical_features = [
    'host_response_time',
    'host_is_superhost',
    'room_type',
    'instant_bookable',
    'half_bath',
    'regiao',
    'property_type_refactor',
    'is_host_rj'    
]

numerical_features = [
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'minimum_nights',
 'maximum_nights',
 'number_of_reviews',
 'days_since_host',
 'delta_nights',
 'mean_reviews',
 'count_name',
 'count_description',
 'count_neighborhood_overview',
 'count_host_about'
]

Experiment with different:
- normalize_method
- transformation
- remove outliers
- feature_selection

In [5]:
session = setup(
    df.drop('id', axis=1),
    target='price',
    log_experiment=True, 
    log_plots=True,
    experiment_name='mlflow_pycaret', 
    log_profile=True,
    log_data=True,
    session_id=16,
    categorical_features=categorical_features,
    numeric_features=numerical_features,
    normalize=True,
    feature_selection=True,
    silent=True,
    verbose=False
               )

Summarize dataset:   0%|          | 0/36 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
best_models = compare_models(sort='RMSE')

In [7]:
lightgbm = create_model('lightgbm')

In [8]:
tuned_lightgbm = tune_model(lightgbm, optimize='RMSE')

In [9]:
boosted_lightgbm = ensemble_model(tuned_lightgbm)

In [10]:
finalize_model(boosted_lightgbm)

Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations
Finished loading model, total used 210 iterations

BaggingRegressor(base_estimator=LGBMRegressor(bagging_fraction=0.8,
                                              bagging_freq=6,
                                              boosting_type='gbdt',
                                              class_weight=None,
                                              colsample_bytree=1.0,
                                              feature_fraction=0.5,
                                              importance_type='split',
                                              learning_rate=0.01, max_depth=-1,
                                              min_child_samples=36,
                                              min_child_weight=0.001,
                                              min_split_gain=0,
                                              n_estimators=210, n_jobs=-1,
                                              num_leaves=256, objective=None,
                                              random_state=16, reg_alpha=1,
                                              reg_lambda=0.0005, silent=True,
                                              subsample=1.0,
                                              subsample_for_bin=200000,
                                              subsample_freq=0),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False,
                 random_state=16, verbose=0, warm_start=False)